body{
	text-align: center;
}

#table > div {
    display: grid;
    grid-template-columns: 100px 200px 200px 100px 90px 90px 90px;
    grid-column-gap: 10px;
	margin-bottom: 10px;
}

.table {
	width: auto;
    margin: 0 auto;
    text-align: center;
}

button {
    margin: 3px;
}

td{
	border:1px solid black;
}

td:hover{
	cursor:pointer;
}

thead{
	background-color: lightblue;
}

.table thead th{
	border:1px solid black;
}

.table td, .table th{
	padding: .75rem;
    vertical-align: top;
    border-top:none;
}