body{
	text-align: center;
}

#table > div {
    display: grid;
    grid-template-columns: 100px 200px 200px 100px 90px 90px 90px;
    grid-column-gap: 10px;
	margin-bottom: 10px;
}

.table {
	width: auto;
    margin: 0 auto;
    text-align: center;
}

td:hover{
	cursor:pointer;
}

thead{
	background-color: lightblue;
	border:2px solid black;
}

.table thead th{
	border-bottom: none;
	border:1px solid black;
}

button{
	margin:15px;
}